body {
  font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
nav {
  height: 80px;
  display: flex;
  padding: 10px 15px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

/* SLIDESHOW */
.image-gallery {
  display: flex;
  flex-direction: column;
}

.image-gallery .col {
  
  display: flex;
  flex-direction: column;
}

.image-item img {
  margin-top: 30px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.477);
}

@media only screen and (min-width: 768px) {
  .image-gallery {
    flex-direction: row;
  }
}
@media (max-width: 768px) and (min-width: 0px) {
  .image-gallery {
    display: none;
  }
}
/* overlay styles */
.image-item {
  position: relative;
  cursor: pointer;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.502);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.1s 0.1s ease-in-out;
  color: #fff;
  /* center overlay content */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hover */
.image-item:hover .overlay {
  transform: scale(1);
}

/* CARDS */
.card-deck {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  width: 100%;
}

.card {
  width: 250px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.377);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
}



@media (min-width: 1430px){
  /* col-lg */
  .card-column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}
/* col-md */
@media (min-width: 1000px) and (max-width: 1429px){

  .card-column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

/* col-sm */
@media (min-width: 750px) and (max-width: 999px){
  .card-column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

/*col-xs */
@media (min-width: 580px) and (max-width: 749px){
  .card-column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/*col-xxs */
@media (min-width: 399px) and (max-width: 579px){
  .card-column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

/*col-xxxs */
@media (max-width: 400px){
  .card-column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}


.card-people{
  height: 400px;
}

.card-house{
  height: 400px;
}

.card-img {
  object-position: top;
  object-fit: cover;
  width: 100%;
  height: 50%;
}

.card-body {
  height: max-content;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.card-star {
  height: 15px;
}

/* FAVICONS*/
.favorite-icon {
  position: absolute;
  top: 2px;
  right: 6px;
  font-size: 24px;
  cursor: pointer;
  color: red;
}

.favorite-icon:before {
  content: '\2661';
}

.favorite-icon:hover:before,
.favorite-icon:active:before {
  content: '\2665';
  color: red;
  outline: red;
}

/* GUEST FAVOURITE */
.guest-favorite-overlay {
  display: flex;
  position: absolute;
  top: 6px;
  left: 6px;
  padding: 5px;

  font-weight: bold;
  color: black;
  background-color: white;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.477);
  border-radius: 50px;
}
