html, body {
  margin: 0;
  padding: 0;
  background-color: #b3ccd6;
}

#title{
	margin-left: 250px;
  color: green; 
  font-size:45px;
	/*text-align: center;*/
}

#defaultCanvas0{
  
    padding-left: 0;
    padding-right: 0;
    margin-left: 250px;
    margin-right: auto;
    display: block;
}

#headers{
	color:red;
  font-size: 25px;
}

#info{

  color: blue;
  font-size: 20px;
  
}