<!-- About Page -->
<div class="card">

	<div class="card-header">
		<h4>About the Project</h4>
	</div>

	<div class="card-body">


		<p class="lead">The initial idea of the project is to create a system where users can add a list of plants they want to grow in real life!</p>
		

		<p class="lead">After registering and logging in the system, users can search for a specific plant in the search engine! For example, if a user types <i>"lettuce"</i> in the search engine, the word <i>"lettuce"</i> is a <code>keyword</code> that would be used to submit a query to a database!</p>

		<p class="lead">If the plant (i.e. <code>lettuce</code>) exists in the database, the system will show relevant results about that specific plant such as <code>Lowest and Highest Temperature</code>, <code>Water Consumption needed</code>, <code>Soil required</code> and more...</p>

		<p class="lead">If the users are happy with what the systems provide, they can add it to their list by a simple click of a button <i>"Add in My List"</i>!</p>

		<p class="lead">Finally, users would be able to connect an <code>Arduino curcuit</code> to their growing area, and potentially control their plants! For example, get notified if the soil for a specific plant is too moist, or that the soil is dry. Additionally, they would get notified when a planting season for a specific plant has began, and more!</p>
	</div>

</div>